        <h1 style="text-align: center;font-family: 'Franklin Gothic Medium';">Welcome To My Website</h1>
        <h2 style="text-align: center;font-family: 'Franklin Gothic Medium';">About Me</h2>
        <p>
            <strong>Student Name:</strong> Padmapriya PalaniSwamiNathan <br>
            <strong>Student ID:</strong> 141093237 <br>
            <strong>Program:</strong> Business Information Technology<br>
            <strong>Desc:</strong> This website is used for displaying data about Students,Courses ,Student data with their student number,Students by Course and Teaching Assistants
        </p>
        <p >Hello! My name is <strong>Padmapriya PalaniSwamiNathan</strong>. I am currently studying <strong>Business Information Technology </strong>at Seneca College. 
            <br>In addition to my academic pursuits, I have a passion for <strong> reading books </strong> and enjoy immersing myself in different genres, from fiction to non-fiction. 
            <br>When I'm not studying or reading, you can find me in my <strong>  garden  </strong> , tending to my plants and enjoying the tranquility that gardening brings. 
            <br>My interests in technology, literature, and nature help me maintain a well-rounded and fulfilling lifestyle.</p>
            <br><img src="https://t4.ftcdn.net/jpg/05/90/20/01/360_F_590200150_eXmqrmEfmkhQDDlYL2JdVLieeV8dBHZY.jpg" alt="Library" width="500" height="500">
            <img src="https://itourcolumbiamontour.com/wp-content/uploads/2021/03/Master-Gardeners-CM.jpg" alt="Gardens" width="500" height="500">
