        <h1 style="text-align: center;font-family: 'Franklin Gothic Medium';font-size:xx-large;">Welcome to my website</h1>
        <p style="text-align: center;font-size: medium;" >Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express</p>
        
        <h2 style="text-align: center;font-family: 'Franklin Gothic Medium';">Website Overview</h2>
        <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: 
        <ul>
            <li><a href="/students">All Students</a></li>
            <li><a href="/students?course=3">Students by Course</a></li>
            <li><a href="/student/2">A Single Student By Student Number</a></li>
            <li><a href="/courses">All Courses</a></li>
        </ul>
        </p>
        
        <h2 style="text-align: center;font-family: 'Franklin Gothic Medium';font-size:xx-large;" >HTML 5 Introduction</h2>
        <p style="text-align: center;" >This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.</p>

