        <h1 style="text-align: center;font-family: 'Franklin Gothic Medium';"><strong>HTML Demo</strong> </h1>

        <h2 style="text-align: center;font-family: 'Franklin Gothic Medium';"><strong>Tables</strong> </h2>
        <table class="table">
            <caption><mark>Tables with Car models and description in footer</mark></caption>
            <thead>
                <tr>
                    <th>Electric Vehicles (EVs)</th>
                    <th>Gasoline-Powered Vehicles (Gas)</th>
                    <th>Hybrid Vehicles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tesla Model 3</td>
                    <td>Honda Accord</td>
                    <td>Toyota Prius</td>
                </tr>
                <tr>
                    <td>Ford Mustang Mach-E</td>
                    <td colspan="2">Toyota Camry & Ford Mustang GT</td>
                </tr>
                <tr>
                    <td rowspan="2">Audi Q4 e-tron <br><br> Nissan Ariya</td>
                    <td>Chevrolet Camaro</td>
                    <td>Toyota RAV4 Hybrid</td>
                </tr>
                <tr>
                    <td>BMW 3 Series</td>
                    <td>Honda Insight</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Electric Vehicles (EVs): Efficient</td>
                    <td>Gasoline-Powered Vehicles (Gas): Versatile</td>
                    <td>Hybrid Vehicles: Eco-friendly</td>
                </tr>
            </tfoot>
        </table>
        <table class="table">
            <caption><mark>Best Selling Items in Toronto 2024</mark></caption>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Item</th>
                    <th>Sales Volume</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Electronics</td>
                    <td>Smartphones</td>
                    <td>100,000 units</td>
                </tr>
                <tr>
                    <td>Fashion</td>
                    <td colspan="2" text-align="center">Sneakers & 50,000 pairs</td>
                </tr>
                <tr>
                    <td rowspan="2" text-align="center">Home Appliances<br><br>Books </td>
                    <td>Refrigerators</td>
                    <td>30,000 units</td>
                    
                </tr>
                <tr>
                    <td>Mystery Novels</td>
                    <td>20,000 books</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Item Category sold most in Toronto in 2024</td>
                    <td>Item name sold most in Toronto in 2024</td>
                    <td>Item Quantity sold most in Toronto in 2024</td>
                </tr>
            </tfoot>
        </table>
        <p style="background-color: palegreen;font-style: italic;">This section contains two tables demonstrating the use of various HTML table elements and attributes.
            <br>First table is used for displayed three different types of Car models and footer has the description of those types.
            <br>Second table we have displayed top selling items in Toronto, Item Category,Item Name and Quantity Sold.
        </p>
        <hr>
        <h2 style="text-align: center;font-family: 'Franklin Gothic Medium';"><strong>List of IT Trends 2024 </strong></h2>
        <ul>
            <li>Cybersecurity</li>
            <li>Cloud Computing</li>
            <li>Data Science and Big Data</li>
            <li>Blockchain Technology</li>
            <li>Internet of Things (IoT)</li>
        </ul>
        <h2 style="text-align: center;font-family: 'Franklin Gothic Medium';"><strong>Lists of Trending Certifications in 2024</strong></h2>
        <ol>
            <li>Microsoft Certified: Azure Administrator Associate</li>
            <li>Cisco Certified Network Associate (CCNA)</li>
            <li>AWS Certified SysOps Administrator - Associate</li>
        </ol>
        <p style="background-color: palevioletred;font-style: italic;">This section demonstrate two types of  list, unordered and ordered list.
            <br>Here we are able to see the Top IT trends of 2024 in bulleted list. 
            <br>The next list is an ordered list with Top Certifications requried for IT professionals in 2024.
        </p>
        <hr>
        <h2 style="text-align: center;font-family: 'Franklin Gothic Medium';"><strong>Images</strong></h2>
        <img src="https://media.blogto.com/articles/20240415-cherry-blossoms-toronto-2024.jpg?w=2048&cmd=resize_then_crop&height=1365&quality=70" alt="Cherry blossom" width="1000" height="750">
        <br><br><img src="https://www.farmersalmanac.com/wp-content/uploads/2021/04/forget-me-not-flower-as309740666.jpeg" alt="Forgetmenot Flower" width="1000" height="750">
        <br><br><img src="https://www.thespruce.com/thmb/zFubD5gSua9udMSX-s_9ukmzKcI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/easy-to-grow-rose-bushes-4083294-hero-e8fe965459494266a06071f15f24eba7.jpg" alt="Rose Shrub" width="1000" height="750">
        <br><br><p style="background-color: palegoldenrod;font-style: oblique">This section contains three images demonstrating the use of the img tag and alt attribute.
            <br>In this Images section we have shown three images of flowers , their attributes has been adjusted and also alternate text provided incase teh link is not working.
        </p>
        <hr>
        <h2 style="text-align: center;font-family: 'Franklin Gothic Medium';"><strong>Audio</strong></h2>
        <audio controls>
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
        <p style="background-color: paleturquoise;font-style: italic;">This section contains an audio player with multiple sources demonstrating the use of the audio tag.</p>
        <hr>
        <h2 style="text-align: center;font-family: 'Franklin Gothic Medium';"><strong>Video</strong></h2>
        <video controls width="320" height="240">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <p style="background-color: palegreen;font-style: oblique">This section contains a video player with multiple sources demonstrating the use of the video tag.</p>
